{% extends "navbar2.html" %}
{% block body %}

<div class="container-fluid">

<br/>
<h1>Experiments in Web Technologies</h1>
<br/>

{% if labs %}
	<div class="row-fluid">
		<div class="col-xs-12 center">
		{% for lab in labs %}
			<div class="col-xs-5 jumbotron">
				<h2><a href="{{ lab.filename }}">{{ lab.title }}</a></h2>
				<p><i>{{ lab.description }}</i></p>
				<!-- <img src="/media/{{ lab.icon_address }}" alt="{{ lab.title }}"/> -->
			</div>
			<div class="col-xs-1"></div>
		{% endfor %}
		</div>
	</div>

{% else %}
	<br>
	<p>This site is currently under construction.</p>
{% endif %}


</div>
{% endblock %}
