{% extends "navbar2.html" %}
{% block body %}

<div class="container">

{% if latest_proj_list %}
	{% for proj in latest_proj_list %}
		<div class="row">
			<div class="span10">
				<div class="jumbotron">
					<h2><a href="/project/{{ proj.id }}/">{{ proj.title }}</a></h2>
					<h3>{{ proj.subtitle }}</h3>
				</div>
			</div>
		</div>


		<div class="row">
            <div class="col-md-7">
                <a href="/project/{{ proj.id }}/">
                    <img class="img-responsive" src="{{ proj.picture_set[0].address }}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ proj.title }}</h3>
                <h4>{{ proj.subtitle }}</h4>
                <p>Stuffy stuff stuff.</p>
                <a class="btn btn-primary" href="/project/{{ proj.id }}/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

	{% endfor %}

{% else %}
	<br>
	<p>This site is currently under construction.</p>
{% endif %}

</div>

{% endblock %}
