{% extends "navbar2.html" %}
{% block body %}

<div class="container">

{% if latest_proj_list %}
	{% for proj in latest_proj_list %}
		<div class="row">
		<div class="jumbotron">
			<div class="col-md-7">
				<a href="/project/{{ proj.id }}/">
				{% for picture in proj.picture_set.all | first %}
					<img class="img-responsive" src="/media/{{ picture.address }}" alt="">
				{% endfor %}
				</a>
			</div>
			<div class="col-md-5">
				<h3>{{ proj.title }}</h3>
				<h4>{{ proj.subtitle }}</h4>
				<a class="btn btn-primary" href="/project/{{ proj.id }}/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
		</div>

	{% endfor %}

{% else %}
	<br>
	<p>This site is currently under construction.</p>
{% endif %}

</div>

{% endblock %}
