{% extends "navbar.html" %}
{% block body %}

	<div id="frontpage-content">
		<div id="frontpage-intro">
			<p> --- Hi, I'm a Mechanical and Aerospace engineer currently attending Princeton University. I am also completing certificates, or minors, in Applied Mathematics, Computer Science, and Robotics. My fascination with the connection between computing and engineering is reflected in my coursework, as well as in the projects I have pursued on my own time. --- </p>
		</div><!--end frontpage-info-->
		<div id="featured-projects">
			<h3>Featured Projects</h3>
			<div id="featured-projects-bg">

			<!-- THIS IS THE FEATURED SECTION - UPLOAD SCREENSHOTS TO THE "IMAGES" FOLDER (390x190PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOTS BELOW -->
				<a href="/project/1/" title="Computational Fluid Dynamics"><img class="featured-project-image" src="/media/pic1.png" alt="Computational Fluid Dynamics"/></a>	
				<a href="/project/2/" title="Engine Analysis"><img class="featured-project-image" src="/media/pic2.png" alt="Engine Analysis" /></a>

			</div>
		</div>
	</div>

{% endblock %}
