<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Engineer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Professional website.">
  <meta name="author" content="Bereket Abraham">

  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" >
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" >

  <!-- styles -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <link rel=stylesheet type=text/css href="/static/mod.css">
  <link rel=stylesheet type=text/css href="/static/personal.css">
  <link rel=stylesheet type=text/css href="/static/blog.css">

  <!-- javascript -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function () {
      var url = $(location).attr('href');
      console.log(url);
      $('.nav-custom li').each(function( index ) {
          var link = $(this).children('a').attr('href');
          console.log(link);

          if (url.indexOf(link) >= 0) {
              $('.nav-custom li.active').removeClass('active');
              $(this).addClass('active');
          }
      });
  });
  </script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72307749-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top nav-custom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BEREKET ABRAHAM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="/contact/">RESUME</a></li>
        <li><a href="/project/">PROJECTS</a></li>
        <li><a href="/lab/">EXPERIMENTS</a></li>
        <li><a href="/blog/">BLOG</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="container">
  {% block body %}{% endblock %}
</div>

</body>
